h1 {
  padding-bottom: 15%;
}

.nyanContainer {
    margin:0px auto;
    width: 2vw;
    height: 2vw;
    background-image: url(https://i.gifer.com/3Q85.gif);
    min-width: 350px;
    min-height: 350px;
    max-width: 350px;
    max-height: 350px;
}
